1. For every state(includes UTs), for every year, this csv file is needed, where Year is in descending order from 2014:

State   Year   Mean-Pollutant-Concentration   z-score   Spot  xco  yco

2. For the year 2014, for each state, this csv file is needed, where City is the top 5 cities of each state with highest mean pollutant concentration in descending order:

State   City   Mean-Pollutant-Concentration 
